@charset "utf-8";
/* CSS Document */
/*Pretendard*/
@font-face {
	font-family: 'Pretendard';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: local('Pretendard Variable'), url('../font/PretendardVariable.woff2') format('woff2-variations');
}
/* marcellus-regular*/
@font-face {
  font-display: swap;
  font-family: 'Marcellus';
  font-style: normal;
  font-weight: 400;
  src: url('../font/marcellus-v13-latin-regular.eot');
  src: url('../font/marcellus-v13-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('../font/marcellus-v13-latin-regular.woff2') format('woff2'),
       url('../font/marcellus-v13-latin-regular.woff') format('woff'),
       url('../font/marcellus-v13-latin-regular.ttf') format('truetype'),
       url('../font/marcellus-v13-latin-regular.svg#Marcellus') format('svg');
}

